<ion-view view-title="Accompagnatore">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="tavolo in tavoli" type="item-text-wrap">
        <ion-delete-button class="ion-minus-circled"
                           ng-click="elimina(tavolo)">
        </ion-delete-button>

        <h2>{{tavolo.descrizione}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive"
                           ng-click="accomoda(tavolo)">
          Accomoda
        </ion-option-button>
        <ion-option-button class="button-calm"
                           ng-click="stato(tavolo)">
          Guarda Stato
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
